.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background: #155799;
  text-align: center;
  min-height: 20em;
}
#flip_button {
  margin: 1em;
}

.nav_button {
  height: 100%;
}

.section {
  padding: 2em;
}
