<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>


    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/3ce67226fb.js"></script>
    
    <link rel="stylesheet" href="{{ static_url('lolflashcards.css') }}" type="text/css">
    <script src="{{ static_url('lolflashcards.js') }}"></script>


  </head>

  <body>
    <!-- HEADER -->
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="">LoL Flash Cards</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="about" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
      
      <!-- FLASH CARD -->
      <div id="flashcard" class="pure-g">

        <div id="card" class="pure-u-1">
          <p id="card_text" class="section"></p>
        </div>
        
        <div id="prev" class="pure-u-1-3 center">
          <button id="prev_button" class="pure-button nav-button">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button>
        </div>

        <div class="pure-u-1-3 center">
          <button id="flip_button" class="button-xlarge pure-button">Flip</button>
        </div>

        <div id="next" class="pure-u-1-3 center">
          <button id="next_button" class="pure-button nav-button">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
        
      </div>

      <!-- CATEGORIES -->
      <div id="categories" class="section">
        <h3>Categories</h3>
        <form class="pure-form">
          <label for="champBox" class="pure-checkbox">
            <input id="champBox" type="checkbox" value="" checked>
            Champion Abilities
          </label>
          <label for="itemsBox" class="pure-checkbox">
            <input id="itemsBox" type="checkbox" value="" checked>
            Items
          </label>
          <label for="summonersBox" class="pure-checkbox">
            <input id="summonersBox" type="checkbox" value="" checked>
            Items
          </label>
        </form>
      </div>

    <!-- FOOTER -->
    <div class="footer">
    </div>
  </body>
</html>
